Quantum4BPMN-Extensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://quantme.org/quantum4bpmn"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://quantme.org/quantum4bpmn"
        xmlns:bpmn="http://www.omg.org/spec/BPMN/20100524/MODEL"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.omg.org/spec/BPMN/20100524/MODEL" schemaLocation="Semantic.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            This XML Schema defines and documents BPMN 2.0 extension elements and
            attributes introduced to support the QuantME extensions.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:element name="quantumComputationTask" type="tQuantumComputationTask" substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tQuantumComputationTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to abstractly define a quantum computation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:attribute name="algorithm" type="xsd:string" use="required"/>
                <xsd:attribute name="provider" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="quantumCircuitLoadingTask" type="tQuantumCircuitLoadingTask"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tQuantumCircuitLoadingTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to create a QuantumCircuitObject to use it by other Quantum4BPMN tasks.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:sequence>
                    <xsd:element name="quantumCircuitCode" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="url" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="dataPreparationTask" type="tDataPreparationTask"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tDataPreparationTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to encode the input data into a quantum circuit.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:attribute name="encodingScheme" type="xsd:string" use="required"/>
                <xsd:attribute name="quantumProgrammingLanguage" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="oracleExpansionTask" type="tOracleExpansionTask"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tOracleExpansionTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to expand oracles of a quantum circuit by corresponding implementations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:sequence>
                    <xsd:element name="oracleCircuit" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="oracleId" type="xsd:string" use="required"/>
                <xsd:attribute name="oracleUrl" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="quantumCircuitExecutionTask" type="tQuantumCircuitExecutionTask"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tQuantumCircuitExecutionTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to execute a quantum circuit.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:attribute name="provider" type="xsd:string" use="optional"/>
                <xsd:attribute name="qpu" type="xsd:string" use="optional"/>
                <xsd:attribute name="shots" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="readoutErrorMitigationTask" type="tReadoutErrorMitigationTask"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tReadoutErrorMitigationTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to mitigate the readout error of a quantum circuit execution based on the error model of the
                used quantum computer.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:attribute name="unfoldingTechnique" type="xsd:string" use="required"/>
                <xsd:attribute name="qpu" type="xsd:string" use="required"/>
                <xsd:attribute name="maxAge" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="quantumCircuitObject" type="tQuantumCircuitObject"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tQuantumCircuitObject">
        <xsd:annotation>
            <xsd:documentation>
                Extension of the BPMN data object to store all data related to a quantum circuit.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tDataObject">
                <xsd:sequence>
                    <xsd:element name="quantumCircuit" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="programmingLanguage" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
        
    <xsd:element name="quantumDataObject" type="tResultObject"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tResultObject">
        <xsd:annotation>
            <xsd:documentation>
                Extension of the BPMN data object to store results of a quantum computation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tDataObject">
                <xsd:sequence>
                    <xsd:element name="executionResult" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="quantumHardwareSelectionSubprocess" type="tQuantumHardwareSelectionSubprocess"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tQuantumHardwareSelectionSubprocess">
        <xsd:annotation>
            <xsd:documentation>
                Extension of the BPMN subprocess supporting automatic quantum hardware selection for the contained tasks.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tSubProcess">
                <xsd:attribute name="providers" type="xsd:string" use="optional"/>
                <xsd:attribute name="simulatorAllowed" type="xsd:boolean" use="required"/>
                <xsd:attribute name="selectionStrategy" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
	
	<xsd:element name="circuitCuttingSubprocess" type="tCircuitCuttingSubprocess"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tCircuitCuttingSubprocess">
        <xsd:annotation>
            <xsd:documentation>
                Extension of the BPMN subprocess supporting circuit cutting and result combination of a given circuit for the contained tasks.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tSubProcess">
                <xsd:attribute name="cuttingMethod" type="xsd:string" use="required"/>
                <xsd:attribute name="maxSubCircuitWidth" type="xsd:string" use="optional"/>
                <xsd:attribute name="maxNumberOfCuts" type="xsd:string" use="optional"/>
				<xsd:attribute name="maxNumSubCircuits" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="parameterOptimizationTask" type="tParameterOptimizationTask"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tParameterOptimizationTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to optimize a set of given parameters.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:attribute name="optimizer" type="xsd:string" use="required"/>
                <xsd:attribute name="maxIterations" type="xsd:string" use="optional"/>
                <xsd:attribute name="toleranceThreshold" type="xsd:string" use="optional"/>
				<xsd:attribute name="learningRate" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="variationalQuantumAlgorithmTask" type="tVariationalQuantumAlgorithmTask"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tVariationalQuantumAlgorithmTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to define a variational quantum algorithm including all of its components on a high level.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:attribute name="quantumAlgorithm" type="xsd:string" use="required"/>
                <xsd:attribute name="algorithmicProblem" type="xsd:string" use="required"/>
                <xsd:attribute name="qpu" type="xsd:string" use="required"/>
				<xsd:attribute name="provider" type="xsd:string" use="required"/>
				<xsd:attribute name="optimizer" type="xsd:string" use="required"/>
				<xsd:attribute name="objectiveFunction" type="xsd:string" use="required"/>
                <xsd:attribute name="mitigationMethod" type="xsd:string" use="optional"/>
                <xsd:attribute name="cuttingMethod" type="xsd:string" use="optional"/>
				<xsd:attribute name="warmStartingMethod" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
	
	<xsd:element name="resultEvaluationTask" type="tResultEvaluationTask"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tResultEvaluationTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to evaluate the quality of quantum circuit execution results.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:attribute name="objectiveFunction" type="xsd:string" use="required"/>
                <xsd:attribute name="costFunction" type="xsd:string" use="required"/>
                <xsd:attribute name="eta" type="xsd:string" use="optional"/>
				<xsd:attribute name="alpha" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
	
	<xsd:element name="warmStartingTask" type="tWarmStartingTask"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tWarmStartingTask">
        <xsd:annotation>
            <xsd:documentation>
                Task type to enable warm-starting a quantum execution by classically pre-computing parameters or solution approximations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tTask">
                <xsd:attribute name="warmStartingMethod" type="xsd:string" use="required"/>
                <xsd:attribute name="quantumAlgorithm" type="xsd:string" use="required"/>
                <xsd:attribute name="classicalAlgorithm" type="xsd:string" use="optional"/>
				<xsd:attribute name="repetitions" type="xsd:string" use="optional"/>
				<xsd:attribute name="rounded" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
	
	<xsd:element name="resultEvaluationObject" type="tResultEvaluationObject"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tResultEvaluationObject">
        <xsd:annotation>
            <xsd:documentation>
                Extension of the BPMN data object to store all data related to a execution result evaluation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tDataObject">
                <xsd:attribute name="objectiveValue" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
	
	<xsd:element name="initialStateObject" type="tInitialStateObject"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tInitialStateObject">
        <xsd:annotation>
            <xsd:documentation>
                Extension of the BPMN data object to store all data related to a execution result evaluation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tDataObject">
                <xsd:attribute name="preComputedApproximation" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
	
	<xsd:element name="parameterizationObject" type="tParameterizationObject"
                 substitutionGroup="bpmn:flowElement"/>
    <xsd:complexType name="tParameterizationObject">
        <xsd:annotation>
            <xsd:documentation>
                Extension of the BPMN data object to store all data related to a execution result evaluation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="bpmn:tDataObject">
			    <xsd:sequence>
                    <xsd:element name="circuitParameters" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
	
	
</xsd:schema>
